<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rock, Paper, Scissors</title>
<link rel="stylesheet" href="/main.css" />
</head>
<body>
	<div class="mainDiv" align="center">
		<form method="post" action="/play">
			<h2>Enter Your Name:</h2>
			<input type="text" name="userName" />
			<h2>Select Player Mode:</h2>
			<select name="firstPlayerMode">
				<option value="4">Randomly</option>
				<option value="1">Rock</option>
			</select>
			<div class="buttonDiv">
				<input type="submit" value="Enter to Play!" />
			</div>
		</form>
		<hr>
		<p>
			<a href="/stats">View Stats</a>
		</p>
	</div>
</body>
</html>