<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rock, Paper, Scissors</title>
<link rel="stylesheet" href="/main.css" />
<link rel="stylesheet" href="/jquery.dataTables.min.css" />
<script src="/jquery-3.4.1.js"></script>
<script src="/jquery.dataTables.min.js"></script>
<script src="/globalFunctions.js"></script>
<script src="/viewStats.js"></script>
</head>
<body>
	<div class="mainDiv" align="center">
		<a href="/">Home</a>
		<hr>
		<h2>Current Stats</h2>
		<button id="refreshButton">Refresh Data!</button>
		<div>
			<table id="tableStats">
				<tr>
					<td>Total Wins for First Players: <div id="firstPlayerWins">0</div></td>
					<td>Total Wins for Second Players: <div id="secondPlayerWins">0</div></td>
				</tr>
				<tr>
					<td>Total Draws: <div id="draws">0</div></td>
					<td>Total Rounds Played: <div id="roundsPlayed">0</div></td>
				</tr>
			</table>
		</div>
		<table id="tableResults" class="display nowrap">
			<thead>
				<tr>
					<th>First Player</th>
					<th>Second Player</th>
					<th>Resulting Round</th>
				</tr>
			</thead>
			<tbody id="tableTBody"></tbody>
		</table>
	</div>
</body>
</html>